:root{
    --textColor: aliceblue;
    --orange:  #FF7B54;
    --oryellow:#FFB26B;
    --yellow:#FFD56F;
    --green: #939B62;
}
body{
    /* background-image: linear-gradient(var(--oryellow),var(--green)); */
    /* font-size: large; */
    font-size: 1rem;
    width: 1440px;
    height: 100%;
    
    
}


.fullpage{
    display: flex;
    align-items: center;
    width: 100vw;
    background-image: linear-gradient(var(--oryellow),var(--green));
}

.left-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    color: black;
    line-height: 50px;
}
.form{
    width: 80%;
    border: solid none ;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 15%;
    margin-bottom: 15%;
    height: auto;
    text-align: center;
    /* padding: 7%; */
    
}
.input{
    background-color: transparent;
    border-radius: 8px;
    border: solid gray 1px;
    width: 40%;
    height: 2rem;
    font-family: "Sono", sans-serif;
    font-size: 1rem;
  
}

label{
    font-family: "Sono", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.right{
    box-sizing: border-box;
   align-items: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 50%;
    
}
.right>img{
    margin-top: 0;
    /* margin-bottom: 15%; */
    width: 70%;
}
.texterr{
color: red;
font-size: small;
}

.wrap{
    height: 200px;
    width: 200px;
    position: relative;
   
border-radius: 50%;
background: url('/public/Login_logo.png');
background-size: 100% 100%;
margin: auto;
/* z-index: -1; */

}
#profilePhoto{
    border-radius: 50%;
    height: 200px;
    width: 200px; 
   border: 100% double transparent;
    margin: auto;
    z-index:1;
}
.radio{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: center;
    gap: 2rem;
    font-size: 1rem;
}
input[type="radio"]{
    width: 25px;

}


.photo{
    position: absolute;
    bottom: 10px;
    left: 61px;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
}
.btn{
    background-color: #939B62;
    margin-top: 40px;
    width: 30%;
 
}
.allInform{
    
    display:inline;
    
}