.fullpage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.left-form {
  margin-right: 20px;
}

.right {
  margin-left: 20px;
  width: 40%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .fullpage {
    flex-flow: column-reverse;
    padding: 2rem;
  }

  .right {
    width: 50%;
    margin: 20px;
  }
}