.cards-container {
    display: flex;
    flex-direction: column;
}

.cards-container .r-prevTextbox {
    overflow-y: initial;
}

.cards-container .r-title-text,
.cards-container .r-caption-text,
.cards-container .r-date-text,
.cards-container .r-duration-text,
.cards-container .r-prevcard {
    margin-top: 0;
}

.cards-container .r-prevcard {
    margin: 1%;
}

@media screen and (max-width: 1200px) {
    .cards-container .r-prevcard {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .cards-container .r-prevcard {
        width: 275px;
    }

    .cards-container .r-container-text {
        display: none;
    }

    .cards-container .r-prevcard {
        display: flex;
        justify-content: center;
    }

    .cards-container .r-prevImg {
        position: initial;
        margin-top: 5%;
    }
}