.dashboard-body {
    background-image: linear-gradient(to bottom right, #FF7B54, #FFD56B);
}

.dashboard-container {
    background-color: #939b62;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2.5%;
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
}

.dashboard-column {
    display: flex;
    flex-direction: column;
}

.dashboard-card {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#dashboard-card-responsive-small {
    display: none;
}

@media screen and (max-width: 1200px) {
    .dashboard-container {
        flex-wrap: wrap;
    }

    #dashboard-card-responsive-big {
        display: none;
    }

    #dashboard-card-responsive-small {
        display: initial;
    }
}