.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-text {
    color: black;
}

.progress-img {
    width: 100%;
}

#progress-text-title {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 5%;
}

#progress-text-title-2 {
    display: none
}

.progress-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-medal {
    width: 25%;
}



.progress-next {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress-next-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-text-next {
    margin-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

progress::-moz-progress-bar {
    background: linear-gradient(to bottom right, #FF7B54, #FFD56B);
}

progress::-webkit-progress-value {
    background: linear-gradient(to bottom right, #FF7B54, #FFD56B);
}

progress {
    color: linear-gradient(to bottom right, #FF7B54, #FFD56B);
}

#progress-bar-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
}






@media screen and (max-width: 1200px) {
    .progress-content {
        flex-direction: row;
    }

    #progress-next-left {
        margin-right: 10%;
    }

    #progress-text-next {
        margin-bottom: 5%;
    }

    .progress-next {
        align-items: flex-end;
    }

    #progress-next-container {
        justify-content: flex-end;
    }

    .progress-img {
        max-width: 50%;
    }

    #progress-text-title {
        display: none
    }

    #progress-text-title-2 {
        display: initial;
        font-size: 200%;
    }

    .progress-medal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}